<div class="grid grid-cols-[auto_1fr] gap-2 items-center">
    <span class="material-symbols-outlined !text-md">translate</span>
    <select class="border border-base-400 bg-base-100 h-fit px-2 py-1 rounded-box">
    <option value="pt">Português</option>
    <option value="es">Espanhol</option>
    <option value="en">Inglês</option>
    </select>
</div>
