
<div id="loading" class="htmx-indicator">
    <div class='w-full absolute'>
        <div class='h-1 w-full overflow-hidden'>
            <div class='loading-animation w-full h-full bg-tf-one left-right'></div>
        </div>
    </div>
</div>
